body {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}

.map {
    height: 600px;
}

.text-container {
    max-width: 900px;
    margin: auto;
}

.mapboxgl-popup-content h4 {
    font-weight: 300;
    font-size: 0.9em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

a {
    color:black;
    text-underline-offset: 3px;

}

a:hover {
    color: hsla(0, 0%, 0%, 0.5);
}

a:visited {
    color: black;

}


h1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

h2 {
    font-family: 'Roboto Mono', monospace;
}

h3 {
    font-family: 'Roboto Mono', monospace;
}

h4 {
    font-family: 'Roboto Mono', monospace;
}


.legend {
    font: 1em/1.5em 'Hind', sans-serif;;
    padding: 1em 1em 2em 1em;
    position: relative;
    right: 10px;
    z-index: 100;
    opacity: 100%;
  }
  .legend h4 {
    margin: 0 0 10px;
    opacity: 100%
  }
  .legend div span {
    border-radius: 0%;
    display: inline-block;
    height: 10px;
    margin-top: 0px;
    margin-right: 20px;
    width: 10px;
  }

.tile {
    background-color: white;
    opacity: 70%;
    border-radius: 1em;
    bottom: 5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: .8em/.9em 'Hind', sans-serif;
    line-height: 2.5em;
    padding: 1em 1em 0em;
    position: absolute;
    max-width: 25%;
    margin: 0em 2em;
    z-index: 100;
}

.tile div span {
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin-left: 5px;
	width: 10px;
}
.tile hr {
	border-top: .2em dashed #404040;
	border-bottom: 0em;
	margin-top: .75em;
	margin-bottom: .75em;
}